<%-include('partials/head', {mySite: pageName })%>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter is-mobile">
                        <div id="mainCard" class="card">
                            <%-include('partials/navbar')%>

                                <!--///// Start /////-->
                                <div class="container">
                                    <div class="column is-11 is-offset-1">
                                        <div class="buttons">
                                            <%-include('partials/sports', { sportUrl: "/ping_pong", visability: "", iconName: "fa-table-tennis", pageName: pageName })%>

                                            <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-volleyball-ball", pageName: pageName })%>

                                            <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-basketball-ball", pageName: pageName })%>
                                        </div>
                                    </div>
                                </div>
                                <!--///// End /////-->

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    </html>