<%-include('partials/head', {mySite: pageName})%>

<body>
    <section class="section">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <%-include('partials/navbar')%>

                    <!--///// Start /////-->
                    <div class="container bg-light">
                        <div class="card-body">
                            <div class="d-grid gap-3 d-md-block d-xxl-flex mx-auto">
                                <%-include('partials/sports', { sportUrl: "Ping_Pong", visability: "", iconName: "fa-table-tennis", sportName: "Ping Pong" })%>

                                <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-volleyball-ball", sportName: "Volleyball" })%>

                                <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-basketball-ball", sportName: "Basketball" })%>

                            </div>
                        </div>
                    </div>
                    <!--///// End /////-->

                </div>
            </div>
        </div>
    </section>

    <script src="data_control.js"></script>
    
    <%-include('partials/app')%>

</body>

</html>