<%-include('partials/head', {mySite: pageName})%>

<body>
    <section class="section">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <%-include('partials/navbar')%>

                    <!--///// Start /////-->
                    <div class="container bg-light">
                        <div class="card-body">
                            <div class="d-grid gap-3 d-md-block d-xxl-flex mx-auto">
                                <%-include('partials/sports', { sportUrl: "/ping_pong", visability: "", iconName: "fa-table-tennis", sportName: "Ping Pong" })%>

                                <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-volleyball-ball", sportName: "Volleyball" })%>

                                <%-include('partials/sports', { sportUrl: "", visability: "disabled", iconName: "fa-basketball-ball", sportName: "Basketball" })%>

                            </div>
                        </div>
                    </div>
                    <!--///// End /////-->

                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</body>

</html>